/* font family work sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* shared style */

.shared-description {
    color: #727272;
    font-size: .8rem;
    font-weight: 400;
}

.btn-primary {
    border-radius: 5px;
    background: #FF900E;
    color: #FFF;
    font-size: .9rem;
    font-weight: 500;
    padding: 18px 20px;
    border: 0;
    margin: 25px 0;
}

/* header section start*/
header {
    background: rgba(255, 144, 14, 0.10);
}

/* style nav */
nav {
    padding: 30px 200px;
}

.nav-bar,
.nav-manu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-manu li {
    list-style: none;
    margin-left: 30px;
}

.nav-manu a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
}

.nav-title {
    color: #131313;
    font-size: 1.5rem;
    font-weight: 700;
}

/* style banner */
.banner-contant {
    margin: 50px 150px 0 150px;
    text-align: center;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.banner-img {
    width: 100%;
}

/* this is for main secton */

main {

    margin: 50px 200px;
}

/* quick-feature section */

.quick-feature-container {
    display: flex;
    gap: 50px;
    /* justify-content: space-between; */
    align-items: center;
}

.word-1 {
    color: #727272;
    font-size: 3rem;
    font-weight: 500;
}

.word-2 {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

.word-3 {
    color: #FF900E;
    font-size: 3rem;
    font-weight: 700;
}
.quick-feature-title{
    margin-bottom: 30px;
}

.image-container img {
    height: 250px;
    width: 250px;
}

.image-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

/* media query */
/* for small device */
@media screen and (max-width: 576px) {
    nav {
        padding: 10px;
    }

    .nav-bar {
        flex-direction: column;
        margin-top: 20px;
    }

    .nav-manu {
        margin-top: 30px
    }

    .banner-contant {
        margin: 10px;
        text-align: center;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    nav {
        padding: 30px;
    }

    .banner-contant {
        margin: 30px 100px 0 100px;
        text-align: center;
    }
}